@import url(estilo_ingresar.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body{
    background-color: #aaa;
}

.titulo{
    margin-bottom: 20px;
}

form{
    padding:10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 20%;
    margin: 50px auto;

    background-color: bisque;
    border: 1px solid black;
    border-radius: 10px;
}

form input[type="number"]{
    width: 50%;
    margin: 10px;
    text-align: center;
}

form input[type="submit"]{
    width:30%;
    padding:10px;
}